.contato {
    width: 100%;
    position: relative;
    display: grid;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 80px;
}

.bg-contato {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.h3-purple {
    font: var(--subtitle-inconsolata);
    color: var(--purple);
    margin-bottom: 8px;
}

.p-contato {
    font: var(--text-md-maven-pro);
    color: var(--gray-200);
}

.buttons {
    display: grid;
    justify-content: center;
    gap: 16px;
}

.button {
    background-color: var(--gray-400);
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 400px;
    height: 68px;
    text-decoration: none;
    padding: 20px;
    gap: 12px;
    transition: transform 0.2s;
}

.h3-buttons {
    font: 500 16px/140% var(--font-family-maven-pro);
    color: var(--gray-200);
    width: 100%;
}

.button:hover {
    transform: translateY(-5px);
    background-color: var(--gray-600);
}