* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;

    --font-family-asap: "Asap", sans-serif;
    --font-family-inconsolata: "Inconsolata", monospace;
    --font-family-maven-pro: "Maven Pro", sans-serif;

    --title-lg-asap: 700 56px/120% var(--font-family-asap);
    --title-md-asap: 700 24px/120% var(--font-family-asap);
    --title-sm-asap: 700 16px/120% var(--font-family-asap);

    --subtitle-inconsolata: 400 20px/120% var(--font-family-inconsolata);

    --text-md-maven-pro: 400 16px/140% var(--font-family-maven-pro);
    --text-sm-maven-pro: 400 14px/140% var(--font-family-maven-pro);
}

body {
    max-width: 1366px;
}