header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 80px;
}

.bg-intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 800px;
    gap: 40px;
}

.profile-container {
    position: relative;
    display: inline-block;
}

.profile_img {
    width: 120px;
    height: 120px;
    border: 3px solid var(--red);
    padding: 3px;
    border-radius: 50%;
}

.code-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    
    width: 32px;
    height: 32px;
    
    background-color: var(--gray-500); 
    
    border-radius: 50%;
    
    z-index: 10;
}

.header-text-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subtitle {
    font: var(--subtitle-inconsolata);
    color: var(--gray-200);
}

.strong-red {
    color: var(--red);
    font: var(--subtitle-inconsolata);
}

.title-lg {
    font: var(--title-lg-asap);
    color: var(--gray-100);
}

.p-header {
    font: var(--text-sm-maven-pro);
    color: var(--gray-300);
    max-width: 600px;
    margin: 0 auto;
}

.tags-wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.header-tag {
    background-color: var(--gray-400);
    border-radius: 24px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: transform 0.2s;
}

.header-tag:hover {
    transform: translateY(-5px);
    background-color: var(--gray-500);
}

.header-tag p {
    margin: 0;
    color: var(--gray-200);
    font-family: var(--font-family-maven-pro);
    font-size: 16px;
    font-weight: 600;
}

.icon-svg {
    width: 24px;
    height: 24px;
    background-color: var(--gray-200);
    
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

.tag-github .icon-svg {
    -webkit-mask-image: url('../assets/icons/GitHub.svg');
    mask-image: url('../assets/icons/GitHub.svg');
    background-color: var(--gray-200);
}

.tag-html .icon-svg {
    -webkit-mask-image: url('../assets/icons/HTML.svg');
    mask-image: url('../assets/icons/HTML.svg');
    background-color: var(--red);
}

.tag-css .icon-svg {
    -webkit-mask-image: url('../assets/icons/CSS.svg');
    mask-image: url('../assets/icons/CSS.svg');
    background-color: var(--blue);
}

.tag-js .icon-svg {
    -webkit-mask-image: url('../assets/icons/JavaScript.svg');
    mask-image: url('../assets/icons/JavaScript.svg');
    background-color: var(--yellow);
}

.tag-react .icon-svg {
    -webkit-mask-image: url('../assets/icons/React.svg');
    mask-image: url('../assets/icons/React.svg');
    background-color: var(--blue);
}

.tag-node .icon-svg {
    -webkit-mask-image: url('../assets/icons/Node.js.svg');
    mask-image: url('../assets/icons/Node.js.svg');
    background-color: var(--green);
}

.arrow-down {
    margin-top: 20px;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}