header {
    max-width: 1366px;
}

.bg-intro {
    position: absolute;
    z-index: -5;
    height: 750px;
    width: 100%;
}

div {
    position: relative;
    left: 33%;
    top:  120px;
    display: flex; 
    justify-content: center; 
    border: 1px solid red;
    width: 1040px;
    height: 447px;
}

.profile_img {
    position: relative;
    top: 8px;
    width: 87px;
    height: 87px;
    border: 2px solid var(--red);
    border-radius: 50%;
}

#header-text {
    display: block;
}

.subtitle {
    font: var(--subtitle-inconsolata);
    color: var(--gray-200);
}

.strong-red {
    color: var(--red);
    font: var(--subtitle-inconsolata);
}

.title-lg {
    font: var(--title-lg-asap);
    color: var(--gray-100);
}

.p-header {
    font: var(--text-sm-maven-pro);
    color: var(--gray-300);
}

.header-tags {
    background-color: var(--gray-400);
    color: var(--gray-200);
    border-radius: 20px;
    gap: 16px;
    display: flex;
    width: 114px;
    height: 40px;
    align-content: center;
}

.tag-icons {
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
}

.text-md-maven-pro {
    font: var(--text-md-maven-pro);
}